<IfModule mod_rewrite.c>
    RewriteEngine On
    RewriteBase /MyProject/backend/api-eventos/

    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    RewriteRule ^ index.php [QSA,L]
</IfModule>
